<mat-toolbar class="top-bar">
    <span>Top bar</span>
    <mat-select
            class="template-select"
            [(ngModel)]="activeValue"
            (selectionChange)="onChangeTemplate($event)"
            placeholder="Select template">
        <ng-container *ngFor="let template of templates">
            <mat-option [value]="template">{{template.id}}</mat-option>
        </ng-container>
    </mat-select>
</mat-toolbar>