.house-item-img {
  width: 70%;
}

.house-item-wrapper {
  position: relative;
}

.inner-template {
  position: absolute;
  color: red;
  top: 10%;
}

@media(max-width: 800px) {
  .house-item-img {
    width: 50%;
  }
}

@media(max-width: 500px) {
  .house-item-img {
    width: 30%;
  }
}