<mat-grid-list class="container" cols="2">
    <mat-grid-tile *ngFor="let houseItem of houseItemsList">
        <app-house-map [houseItem]="houseItem"></app-house-map>
    </mat-grid-tile>
</mat-grid-list>